<div class="container-nav">
    <a href="#" class="logo"><img src="/assets/images/logo_2.jpeg" alt="" /></a>

    <input type="checkbox" id="check" name="check" [(ngModel)]="check">
    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i>
    </label>

    <nav class="navbar">
        <a href="#" (click)="handleClick($event, 'home')">Inicio</a>
        <a href="#" (click)="handleClick($event, 'aboutMe')">Sobre Mí</a>
        <a href="#" (click)="handleClick($event, 'experience')">Experiencia</a>
    </nav>
</div>