@import './assets/style/variable';
@import './assets/style/size';
@import './assets/style/margin_padding';
@import './assets/style/grid';
@import './assets/style/flex';

.particles-js-canvas-el {
    position: absolute;
    top: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: var(--white);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-black {
    background-color: var(--black) !important;
}

.color-primary {
    color: var(--primary) !important;
}

.color-secondary {
    color: var(--secondary) !important;
}

.color-white {
    color: var(--white) !important;
}

.color-black {
    color: var(--black) !important;
}

.title {
    color: #111;
    font-weight: 800;
    font-size: 30px;
}

.subtitle {
    color: #111;
    font-weight: 500;
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}

.f-bold {
    font-weight: bold !important;
}